td {
  width: 24px;
  height: 24px;
  font-size: 6pt;
  user-select: none;
}
td.slow {
  background-color: #cc7;
}
td.current {
  background-color: #0f0;
}
td.open {
  background-color: #fc0;
}
td.closed {
  background-color: #f88;
}
td.goal {
  background-color: #f8f;
}
td.finalPath {
  background-color: #8ff;
}
td.finalPath.slow {
  background-color: #6cc;
}
td.blocked {
  background-color: #444;
  color: #fff;
}

table {
  border: 2px solid blue;
}
